.gift-wrapper {
    padding: 52px 0;
}
.gift-certificate {
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        padding-bottom: 132px;
    }
}
.gift-certificate_order-link {
    width: 266px;
    height:54px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
justify-content: center;
align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    box-shadow: 0px 4px 30px rgba(170, 67, 162, 0.45);
border-radius: 12px;
background-color: $color-sale-purple;
color: $color-white;
border: 1px solid transparent;
transition: color 750ms, background-color 750ms, border-color 750ms;
}

.gift-certificate_order-link:hover,
.gift-certificate_order-link:focus{
    color: $color-black;
border-color: $color-sale-purple;
background-color:transparent

}
.gift-certificate_img{
    display: block;
    
    margin: 0 auto 32px auto;
    @media screen and (min-width: 768px) {
        margin: 0 auto 28px auto;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}
.unique-opportunity_list {
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        gap:30px
    }
}
.unique-opportunity_item {
    border-radius: 12px;
    position: relative;
    background-color: $color-sale-yellow;
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 40px 154px 40px 100px;
    }
    @media screen and (min-width: 1200px) {
        padding: 40px 100px;
        flex-basis: calc((100% - 30px) / 2);
    }
}
.unique-opportunity_item:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}
.unique-opportunity_item > svg {
    position: absolute;
    top:20px;
    right: 20px;
    width: 40px;
    height: 40px;
    @media screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
        top:32px;
        right: 32px;
    }
    @media screen and (min-width: 1200px) {
        width: 60px;
        height: 60px;
        right: 20px;
    }
    
}
.unique-opportunity_item > h3 {
    line-height: 1.4;
    max-width: 184px;
    font-size: 20px;
    color: $color-black;
    margin-bottom: 20px;
    font-weight: 700;
    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        max-width: 335px;
    }
}
.unique-opportunity_item > p {
    line-height: 1.4;
    font-size: 16px;
    color: $color-black;
    @media screen and (min-width: 768px) {
        font-size: 17px;
    }
}
.gift-certificate__box{
    margin-bottom: 52px;
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}
.gift-certificate__info{

@media screen and (min-width: 1200px) {
    flex-basis: 55%;
}
}
.gift-certificate__info > b{
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    color: $color-black;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
     font-size: 28px;
     margin-bottom: 40px;
    }
}
.gift-certificate__info > p{
    font-size: 16px;
    font-weight: 1.4;
}
.gift-certificate__info > p:not(:last-child){
    margin-bottom: 30px;
}