<div class="gift-wrapper">
    <section class="gift-certificate">
        <div class="container-sales ">
        <h2 class="sales-section-title ">Подарунковий сертифікат</h2>
        <div class="gift-certificate__box">
        <picture class="gift-certificate_img-wrap"><source media="(min-width: 1200px)" type="image/png" srcset="./images/cert-desk-1x.png 1x, ./images/cert-desk-2x.png 2x" width="470"/><source media="(min-width: 768px)" type="image/png" srcset="./images/cert-tab-1x.png 1x, ./images/cert-tab-2x.png 2x" width="444"/><img class="gift-certificate_img" width="296" height="207" loading="lazy" alt="Подарунковий сертифікат" src="./images/cert-mob-1x.png "/></picture>
        <div class="gift-certificate__info">
        <b>Втомилися шукати ідеї цікавих подарунків для дітей? Хочете подарувати щось нетривіальне, а головне – корисне?</b>
        <p>Подарункові сертифікати на курси програмування, дизайну та розробки 
від онлайн ІТ-академії GoITeens – це ідеальний варіант для дитини7-16 років, яка захоплюється іграми та комп’ютерними технологіями.</p>
        <p>Подаруйте дитині нові знання, неймовірні враження від навчання в доступному та захопливому форматі. Понад 7 років ми ведемо дітей до реальної ІТ-кар’єри у сферах диджитал-дизайну, програмування, розробки сайтів та ігор.
</p>
        <p>Сертифікат на навчання в GoITeens – не просто подарунок. Цечудова інвестиція в прогресивне та щасливе майбутнє ваших дітей.</p>
    </div>
</div>
        <a href="" class="gift-certificate_order-link">Замовити сертифікат</a>
        </div>
    </section>
    <section class="unique-opportunity">
    <div class="container-sales ">
    <h2 class="sales-section-title sales-section-title__unique-opportunity">Купуючи сертифікат на навчання для дитини, ви даруєте унікальну можливість:</h2> 
    <ul class="unique-opportunity_list">
        <li class="unique-opportunity_item">
            <svg>
                        <use href="./images/symbol-defs.svg#icon-brackets"></use>
                    </svg>
            <h3>Навчитися програмувати</h3>
            <p>Діти отримують максимум практичних знань, щоб після курсів знайти свою першу роботу в якості Junior або Middle-розробників</p>
        </li>
        <li class="unique-opportunity_item">
<svg>
                        <use href="./images/symbol-defs.svg#icon-pencil"></use>
                    </svg>
            <h3>Розвивати творчі навички</h3>
            <p>Програмування та дизайн потребують неабиякої креативності та вміння справлятися знестандартними задачами</p>
        </li>
        <li class="unique-opportunity_item">
<svg >
                        <use href="./images/symbol-defs.svg#icon-student"></use>
                    </svg>
            <h3>Перетворити хобі на сучасну ІТ-професію</h3>
            <p>Діти навчаються за допомогою улюблених ігор, розвивають логічнне мислення та отримують практичні навички для майбутньої кар’єри в ІТ</p>
        </li>
        <li class="unique-opportunity_item">
<svg >
                        <use href="./images/symbol-defs.svg#icon-children"></use>
                    </svg>
            <h3>Знайти друзів та однодумців</h3>
            <p>Для нас важливо підтримувати потужне ком’юніті, де діти зможуть спілкуватися, формувати команди та створювати сумісні проєкти </p>
        </li>
    </ul>
    </div>
    </section>
</div>