<section class="learn-profitably">
  
        <h2 class="sales-section-title sales-section-title--learn-profitably">Навчатися вигідніше Легко!</h2>
        <div class="container-sales container-sales--flex-tab">
        <picture class="learn-profitably_img-wrap"><source media="(min-width: 1200px)" type="image/png" srcset="./images/boy-desk-1x.png 1x, ./images/boy-desk-2x.png 2x" width="470"/><source media="(min-width: 768px)" type="image/png" srcset="./images/boy-tab-1x.png 1x, ./images/boy-desk-2x.png 2x" width="444"/><img class="learn-profitably_img" width="272" height="375" loading="lazy" alt="Усміхнений хлопець" src="./images/boy-mob-1x.png"/></picture>
        <ul class="learn-profitably_list">
            <li class="learn-profitably_item">
            <svg  width="84" height="84">
                        <use href="./images/symbol-defs.svg#icon-free"></use>
                    </svg>
                <h3>1 безплатний урок 
за відгук</h3>
                <p>Запишіть відеовідгук про навчання в GoITeens та отримайте 1 урок безоплатно</p>
            </li>
            <li class="learn-profitably_item">
            <svg  width="84" height="84">
                        <use href="./images/symbol-defs.svg#icon-add-people"></use>
                    </svg>
                <h3>4 уроки безплатно</h3>
                <p>Приведіть друга або подругу та отримайте 
по 2 уроки безоплатно для кожного</p>
            </li>
            <li class="learn-profitably_item">
            <svg  width="84" height="84">
                        <use href="./images/symbol-defs.svg#icon-percent"></use>
                    </svg>
                <h3>- 25% на навчання</h3>
                <p>Знижкою можуть скористатися діти студентів GoIT (онлайн 
ІТ-академія для дорослих)</p>
            </li>
            <li class="learn-profitably_item">
            <svg  width="84" height="84">
                        <use href="./images/symbol-defs.svg#icon-fire"></use>
                    </svg>
                <h3>- 50% на навчання</h3>
                <p>Знижка надається другій дитині з однієї сім’ї. Діти можуть вчитися на різних курсах</p>
            </li>
        </ul>
    </div>
</section>